@model IEnumerable<Web.Models.TvShowViewModel>

@{
    ViewBag.Title = "Index";
}



<div class="row">
    <h2>All shows</h2>
    @foreach (var item in Model)
    {
        <div class="media">
            <a class="pull-left" href="@Url.Action("Details", new { id = item.Id })">
                <img class="media-object" src="http://placehold.it/64x64">
            </a>
            <div class="media-body">
                <a class="pull-left" href="@Url.Action("Details", new { id = item.Id })">
                    <h4 class="media-heading">@item.Name</h4>
                </a>

                @item.Description
            </div>
        </div>

    }
</div>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
@*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
